h1{
    text-align: center;
   
}
h2{
    height:250px;
    width: 500px;
    background-color: white;
    float: left;
    font-size: x-large;
    text-align: center;
    padding-right: 19px;
}
        table {width:700px; margin-left:20px; float:right;border:1px black solid; background:white;} 
        td, th {padding:2px; border-collapse: collapse; border:3px black solid;} 
        caption { font-size:150%; font-weight:bold;} 
body{
    background-image: url(image/7.png);
}
/*set general horizontal menu button*/
nav ul{ border: 2px; float:right; height:35px; margin-left: 50px;text-align: center; list-style-type:none; width:200; }
/* set general horizontal menu button sytle*/
nav ul li{display:inline-block}
li.btn{width: 130px; line-height: 23px; margin-bottom: 7px; margin-right: 30px; text-align:center ;}
/* set general acess(anchor)style*/
li.btn a {display:inline-block; width:100px; color:white; font-family:arial;   
 
    font-size:100%; font-weight:bold; text-decoration:none;} 


 
 
 /* mouseout (default) */ 
 li.btn a {background: #1A9CE0; border:7px outset #AABAFF;} 
 /* mouseover */ 
 li.btn a:hover {background:purple; border:7px outset #8ABAFF;} 
 /* mousedown */ 
 li.btn a:active {background:#AECBFF; border:7px inset #AECBFF; }